.layui-logo{
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.toggle-menu{
    display:none;
}
.layui-header{
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}