.layui-logo{
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.toggle-menu{
    display:none;
}
.layui-header{
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}
.box-carousel{
    box-shadow: 0 0 1px 2px rgba(211,211,211,0.5);
}

@media (min-width: 1200px) {
    .box-carousel img{
        width:100%;
    }
}
@media (max-width:1199px) and (min-width: 400px) {
    .box-carousel img{
        height:100%;
    }
}